@using Microsoft.AspNetCore.Identity
@using EDiary.ViewModels
@model AspTeacherSubjectGroup
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 accountF h-100 p-3">
            <div class="row h-100 align-content-center w-100 flex-row-reverse justify-content-center">
                <div class="col-lg-8 col-md-8 col-12 w-100 offset-1">
                    <div class="row">
                        <div class="col-lg-3 col-5 flex-column justify-content-around">
                            <div class="accountIcon">
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.teacherPic != null)
                                    {
                                        <img class="accountIcon" id="openIconModal"  src="data:image/*;base64,@(Convert.ToBase64String(teacher.teacherPic))" />
                                    }
                                    @if (teacher.teacherPic == null)
                                    {
                                        <img class="accountIcon" id="openIconModal" src="~/css/source/user-image.png"/>
                                    }
                                }
                            </div>
                            <div id="iconModal" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Выбрать фотографию</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form asp-action="AddPicture" asp-controller="Teacher" method="post" enctype="multipart/form-data">
                                            <div class="modal-body">
                                                <input name="Picture" class="form-control-file" type="file" required accept="image/*"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                <input type="submit" class="btn btn-primary" value="Добавить" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-4 ml-lg-0 ml-3 justify-content-between">
                            <div class="row ml-1">
                                <small class="text-secondary mb-0" style="text-decoration: underline">Ф.И.О. пользователя:</small>
                            </div>
                            <div class="row ml-1">
                                @if (signInManager.IsSignedIn(User))
                                {
                                    @foreach (var teacherName in Model.Teachers)
                                     {
                                        <label class="mt-0" style="font-size: 115%">@teacherName.teacherSurname @teacherName.teacherName @teacherName.teacherLastname</label>
                                     }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 accountF h-100 p-3 h100-2">
            <div class="row h-100 align-content-center w-100 flex-column-reverse justify-content-center">
                <div class="col-lg-8 col-md-8 col-12 w-100 offset-1">
                    <div class="row flex-column">
                        <a asp-controller="LogIn" asp-action="ChangePassword">Сменить пароль</a>
                        <h4>Мои предметы:</h4>
                        <ol id="list" class="list-group list-group-flush list-group-numbered">
                            @foreach (var subjectGroup in Model.subjectGroups)
                            {
                                <li class="list-group-item" data-id="@subjectGroup.tsubjectId"><a href="" сlass="subject-but">@subjectGroup.subjectName (@subjectGroup.groupName)</a></li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>