@using Microsoft.AspNetCore.Identity
@using EDiary.ViewModels
@model AspTeacherSubjectGroup
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 accountF h-100 p-3">
            <div class="row h-100 align-content-center w-100 flex-row-reverse justify-content-center">
                <div class="col-lg-8 col-md-8 col-12 w-100 offset-1">
                    <div class="row">
                        <div class="col-lg-3 col-5 flex-column justify-content-around">
                            <div class="accountIcon">
                                <img src="~/css/source/user-image.png" class="accountIcon" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-4 ml-lg-0 ml-3 justify-content-between">
                            <div class="row ml-1">
                                <small class="text-secondary mb-0" style="text-decoration: underline">Ф.И.О. пользователя:</small>
                            </div>
                            <div class="row ml-1">
                                @if (signInManager.IsSignedIn(User))
                                {
                                    @foreach (var teacherName in Model.Teachers)
                                     {
                                        <label class="mt-0" style="font-size: 115%">@teacherName.teacherSurname @teacherName.teacherName @teacherName.teacherLastname</label>
                                     }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 accountF h-100 p-3 h100-2">
            <div class="row h-100 align-content-center w-100 flex-column-reverse justify-content-center">
                <div class="col-lg-8 col-md-8 col-12 w-100 offset-1">
                    <div class="row flex-column">
                        <h4>Мои предметы:</h4>
                        <ol id="list" class="list-group list-group-flush list-group-numbered">
                           @foreach (var subject in Model.Subjects)
                            {
                               @foreach (var group in Model.Groups)
                                {
                                    <li class="list-group-item" data-id="@subject.subjectId"><a href="" сlass="subject-but">@subject.subjectName (@group.groupName)</a></li>
                                }
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>