@using EDiary.ViewModels
@model AddSubjectModel
<div class="col-12">
    <form class="row d-flex flex-column">
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label for="sName" class="form-label mb-0">Название предмета</label>
                <input asp-for="subjectName" type="text" class="form-control" id="sName" required>
                <div class="form-check d-flex align-items-center">
                    <input asp-for="haveLabs" class="form-check-input" type="checkbox" value="" id="labsCheck">
                    <label class="form-check-label" for="labsCheck">
                        Есть лабораторные
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label for="sTeacher" class="form-label mb-0">Преподаватель</label>
                <input asp-for="firstTeacher" type="text" class="form-control" id="sTeacher" list="teachers" required value="">
                <datalist id="teachers">
                    @foreach (var teacher in Model.teachers)
                    {
                        <option>@teacher.teacherSurname @teacher.teacherName @teacher.teacherLastname</option>
                    }
                </datalist>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7 labs__block d-none">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="row mb-3">
                        <label for="sTeacherLab" class="form-label mb-0">Второй преподаватель</label>
                        <input asp-for="secondTeacher" type="text" class="form-control" id="sTeacherLab" list="teachersLab" required value="">
                        <datalist id="teachersLab">
                            @foreach (var teacher in Model.teachers)
                            {
                                <option>@teacher.teacherSurname @teacher.teacherName @teacher.teacherLastname</option>
                            }
                        </datalist>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <label for="sLabHours" class="form-label mb-0">Количество часов (лабораторных)</label>
                        <input asp-for="labsCount" type="text" class="form-control" id="sLabHours" required value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label for="validationCustom02" class="form-label mb-0">Группа</label>
                <input asp-for="groupName" type="text" class="form-control" id="validationCustom02" list="groups" required value="">
                <datalist id="groups">
                    @foreach (var group in Model.groups)
                    {
                        <option>@group.groupName</option>
                    }
                </datalist>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="row mb-3 d-flex justify-content-between align-items-center">
                <label for="sImg" class="form-label mb-0">Изображение</label>
                <div class="btn-group dropright">
                    <button class="btn btn-outline-primary dropdown-toggle img__selection" id="sImg" @*data-toggle="dropdown"*@ aria-haspopup="true" aria-expanded="false">Выбрать изображение</button>
                    <div class="dropdown-menu selection__dropdown">
                        @foreach (var image in Model.icons)
                        {
                            <div class="selection__item d-flex justify-content-center" data-idImg="@image.subjectIconId">
                                <img src="data:image/*;base64,@(Convert.ToBase64String(image.subjectPicture))"/>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="row justify-content-center justify-content-sm-start">
                <button asp-action="CreateSubject" class="btn btn-primary" type="submit">Сохранить предмет</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/partialScript.js"></script>