@using EDiary.ViewModels
@model AddSubjectModel
<div class="col-12">
    <form class="row d-flex flex-column">
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="sName">Название предмета</label>
                <input class="form-control" id="sName" asp-for="subjectName" type="text" required>
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" id="labsCheck" type="checkbox" value="">
                    <label class="form-check-label" for="labsCheck">
                        Есть лабораторные
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="sTeacher">Преподаватель</label>
                <input class="form-control" id="sTeacher" asp-for="firstTeacher" type="text" list="teachers" required value="">
                <datalist id="teachers">
                    @foreach (var teacher in Model.teachers)
                    {
                        <option>@teacher.teacherSurname @teacher.teacherName @teacher.teacherLastname</option>
                    }
                </datalist>
            </div>
        </div>
        <div class="labs__block col-lg-5 col-md-6 col-sm-7 d-none">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="row mb-3">
                        <label class="form-label mb-0" for="sTeacherLab">Второй преподаватель</label>
                        <input class="form-control" id="sTeacherLab" asp-for="secondTeacher" type="text" list="teachersLab" value="">
                        <datalist id="teachersLab">
                            @foreach (var teacher in Model.teachers)
                            {
                                <option>@teacher.teacherSurname @teacher.teacherName @teacher.teacherLastname</option>
                            }
                        </datalist>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <label class="form-label mb-0" for="sLabHours">Количество часов (лабораторных)</label>
                        <input class="form-control" id="sLabHours" asp-for="labsCount" type="text" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7">
            <div class="row mb-3">
                <label class="form-label mb-0" for="subGroup">Группа</label>
                <input class="form-control" id="subGroup" asp-for="groupName" type="text" list="groups" value="">
                <datalist id="groups">
                    @foreach (var group in Model.groups)
                    {
                        <option>@group.groupName</option>
                    }
                </datalist>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="row mb-3 d-flex justify-content-between align-items-center">
                <label class="form-label mb-0" for="sImg">Изображение</label>
                <input id="sImgId" asp-for="subjectIcon" type="hidden" value=""/>
                <div class="btn-group dropright">
                    <button class="img__selection btn btn-outline-primary dropdown-toggle" id="sImg" aria-haspopup="true" aria-expanded="false">Выбрать изображение</button>
                    <div class="selection__dropdown dropdown-menu">
                        @foreach (var image in Model.icons)
                        {
                            <div class="selection__item d-flex justify-content-center" data-idImg="@image.subjectIconId">
                                <img src="data:image/*;base64,@(Convert.ToBase64String(image.subjectPicture))"/>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
            <div class="row justify-content-center justify-content-sm-start">
                <button asp-action="CreateSubject" class="btn btn-primary" type="submit">Сохранить предмет</button>
            </div>
        </div>
    </form>
</div>

<script type="module" src="~/js/partialScript.js"></script>