@using EDiary.Models
@using EDiary.ViewModels
@model IEnumerable<TableTeacherModel>
<table class="table table-hover table-bordered">
    @*Таблица преподов*@
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Логин</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Предметы</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var teacherUserSubject in Model.Users.Zip(Model.Teachers.Zip(Model.AspUsers)))
        {
            <tr>
                <td>@teacherUserSubject.Second.First.teacherId</td>
                <td>@teacherUserSubject.Second.Second.UserName</td>
                <td>@teacherUserSubject.First.userSurname</td>
                <td>@teacherUserSubject.First.userName</td>
                <td>@teacherUserSubject.First.userLastname</td>
                <td>
                    @foreach (var subject in Model.Subjects)
                    {
                        <ul>
                            @subject.subjectName
                        </ul>
                    }
                </td>
            </tr>
        }*@
        @foreach (var teacherUserSubject in Model)
        {
            <tr>
                <td>@teacherUserSubject.teacherId</td>
                <td>@teacherUserSubject.teacherLogin</td>
                <td>@teacherUserSubject.teacherSurname</td>
                <td>@teacherUserSubject.teacherName</td>
                <td>@teacherUserSubject.teacherLastname</td>
                <td>
                        <ul>
                           @teacherUserSubject.subjectName 
                        </ul>
                </td>
            </tr>
        }
    </tbody>
</table>