<table class="table table-hover table-bordered">  @*Таблица студентов*@
    <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Логин</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Группа</th>
            </tr>
    </thead>
    <tbody>
           @*@foreach (var student in Model)
            {
               <tr>
                   <td>@student.Id</td>
                   <td>@student.Login</td>
                   <td>@student.Surname</td>
                   <td>@student.Name</td>
                   <td>@student.secName</td>
                   <td>@student.Group</td>
               </tr>
            }*@
    </tbody>
</table>