@using EDiary.Models
@using EDiary.ViewModels
@model IEnumerable<AspUserStudentGroup>
<table class="table table-hover table-bordered">
    @*Таблица студентов*@
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Логин</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Группа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userStudentGroup in Model)
            {
               <tr>
                   <td>@userStudentGroup.studentId</td>
                   <td>@userStudentGroup.studentLogin</td>
                   <td>@userStudentGroup.studentSurname</td>
                   <td>@userStudentGroup.studentName</td>
                   <td>@userStudentGroup.studentLastname</td>
                   <td>@userStudentGroup.groupName</td>
               </tr>
            }
    </tbody>
</table>