@using EDiary.Models
@using EDiary.ViewModels
@model TeacherGroupSubjectModel
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Предмет</th>
            <th scope="col">Преподаватель</th>
            <th scope="col">Группа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacherGroupSubject in Model.Users.Zip(Model.Subjects.Zip(Model.Groups.Zip(Model.subjectTaughts))))
        {
            <tr>
                <td>@teacherGroupSubject.Second.Second.Second.tsubjectId</td>
                <td>@teacherGroupSubject.Second.First.subjectName</td>
                <td>@teacherGroupSubject.First.userSurname @teacherGroupSubject.First.userName @teacherGroupSubject.First.userLastname</td>
                <td>@teacherGroupSubject.Second.Second.First.groupName</td>
            </tr>
        }
    </tbody>
</table>