@using EDiary.Models
@using EDiary.ViewModels
@model AspUserStudentGroup
<table class="table table-hover table-bordered">
    @*Таблица студентов*@
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Логин</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Группа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userStudentGroup in Model.Users.Zip(Model.Students.Zip(Model.Groups.Zip(Model.AspUsers))))
            {
               <tr>
                   <td>@userStudentGroup.Second.First.studentId</td>
                   <td>@userStudentGroup.Second.Second.Second.UserName</td>
                   <td>@userStudentGroup.First.userSurname</td>
                   <td>@userStudentGroup.First.userName</td>
                   <td>@userStudentGroup.First.userLastname</td>
                   <td>@userStudentGroup.Second.Second.First.groupName</td>
               </tr>
            }
    </tbody>
</table>