@using EDiary.ViewModels
@model JurnalModel
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="~/js/markTable.js"></script>
<form asp-controller="Marks" asp-action="Jurnal">
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 jurnalF h-100 p-3">
            <div class="row h-100">
                <div class="col-12 h-100 text-center">
                    <h3 class="p-0">Журнал предмета: 
                        @foreach (var subject in Model.Subjects)
                         {
                            @subject.subjectName
                         }
                    </h3>
                </div>
                <div class="col-12 h-100">
                    <div class="row h-100 mt-3">
                        <div class="col-4">
                            <div class="row pl-3">
                                <small class="text-secondary mb-0" style="text-decoration: underline">Номер группы:</small>
                            </div>
                            <div class="row pl-3">
                               @foreach (var group in Model.Groups)
                                {
                                   <label>@group.groupName</label>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row h-100 mt-2">
                        <div class="col-lg-4 col-11">
                            <div class="row pl-3">
                                <small class="text-secondary mb-0" style="text-decoration: underline">Преподаватель:</small>
                            </div>
                            <div class="row pl-3">
                               @foreach (var trFullname in Model.Teachers)
                                { 
                                    <label>@trFullname.userSurname @trFullname.userName @trFullname.userLastname</label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 accountF h-100 pr-3 pl-3 pb-3">
            <div class="row h-100 sticky-table sticky-ltr-cells m-1">
                <table class="table _table table-hover table-bordered editableTable">
                    <thead>
                        <tr>
                            <th></th>
                            @foreach (var dateLesson in Model.Lessons)
                            {
                            <th data-idLess="@dateLesson.lessonId" class="vt-text">@dateLesson.lessonDate.ToString("d")</th>
                            }
                            @*<th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>
                            <th class="vt-text">01.01.2021</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var studentMark in Model.Students.Zip(Model.Marks).Zip(Model.StudentsId).Zip(Model.setMarks))
                        {
                        <tr>
                            <th data-idStud="@studentMark.First.Second.studentId" class="sticky-cell">@studentMark.First.First.First.userSurname</th>
                            @for (int marks = 0; marks < Model.Marks.Count(); marks++) 
                            {
                            <td data-idMark="@studentMark.Second.setmarkId @studentMark.Second.studentId">@studentMark.First.First.Second.mark</td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</form>
