@using EDiary.ViewModels
@model JurnalModel 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="~/js/markTable.js"></script>
    @*<div class="container h-100">
        <div class="row h-100">
            <div class="col-12 jurnalF h-100 p-3">
                <div class="row h-100">
                    <div class="col-12 h-100 text-center">*@
@*                        <form asp-action="SaveStatistics">
                            <button type="submit">Статистика</button>
                        </form>*@
                        @*<h3 class="p-0">
                            Журнал предмета:
                            @foreach (var subject in Model.Subjects)
                            {
                                @subject.subjectName
                            }
                        </h3>
                    </div>
                    <div class="col-12 h-100">
                        <div class="row h-100 mt-3">
                            <div class="col-4">
                                <div class="row pl-3">
                                    <small class="text-secondary mb-0" style="text-decoration: underline">Номер группы:</small>
                                </div>
                                <div class="row pl-3">
                                    @foreach (var group in Model.Groups)
                                    {
                                        <label>@group.groupName</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row h-100 mt-2">
                            <div class="col-lg-4 col-11">
                                <div class="row pl-3">
                                    <small class="text-secondary mb-0" style="text-decoration: underline">Преподаватель:</small>
                                </div>
                                <div class="row pl-3">
                                    @foreach (var teacher in Model.Teachers)
                                    {
                                        <label>@teacher.teacherSurname @teacher.teacherName @teacher.teacherLastname</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 accountF h-100 pr-3 pl-3 pb-3">
                <div class="row h-100 sticky-table sticky-ltr-cells m-1">
                    @if (User.IsInRole("teacher"))
                    {
                        <input type="button" value="+ Добавить занятие" class="btn btn-primary" id="addLessModal" />
                        <div id="lessModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Добавить занятие</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-controller="Marks" asp-action="AddLesson" method="post" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            @foreach (var subject in Model.Subjects)
                                            {
                                                <input asp-for="addLesson.id" type="hidden" readonly value="@subject.subjectId" />
                                            }
                                            <input asp-for="addLesson.lessonDate" type="datetime-local" required />
                                            <input asp-for="addLesson.lessonType" type="text" list="lessTypes" required />
                                            <datalist id="lessTypes">
                                                @foreach (var type in Model.types)
                                                {
                                                    <option value="@type.typeName"></option>
                                                }
                                            </datalist>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                            <input type="submit" class="btn btn-primary" value="Добавить" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                    <table class="table _table table-hover table-bordered editableTable">
                        <tr class="sticky-header">
                            <th></th>
                            @if (User.IsInRole("teacher"))
                            {
                                @foreach (var dateLesson in Model.Lessons)
                                {
                                    <th class="vt-text delLes" data-lessType="@dateLesson.lessonTypeId" data-idLess="@dateLesson.lessonId">@dateLesson.lessonDate.ToString("d")</th>
                                }
                            }
                            else
                            {
                                @foreach (var dateLesson in Model.Lessons)
                                {
                                    <th class="vt-text" data-lessType="@dateLesson.lessonTypeId" data-idLess="@dateLesson.lessonId">@dateLesson.lessonDate.ToString("d")</th>
                                }
                            }
                        </tr>
                        <tbody>
                            @foreach (var student in Model.Students)
                            {
                                @if (student.studentId == ViewBag.studentId)
                                {
                                    <tr class="currentStudent">
                                        @if (student.studentLastname != null)
                                        {
                                            <th data-idStud="@student.studentId" class="sticky-cell">@student.studentSurname @student.studentName.Substring(0, 1).@student.studentLastname.Substring(0, 1).</th>
                                        }
                                        else
                                        {
                                            <th data-idStud="@student.studentId" class="sticky-cell">@student.studentSurname @student.studentName.Substring(0, 1).</th>
                                        }

                                        @if (User.IsInRole("teacher"))
                                        {
                                            @foreach (var dateLesson in Model.Lessons)
                                            {
                                                var sm = Model.setMarks.Where(x => x.studentId == student.studentId && x.lessonId == dateLesson.lessonId).FirstOrDefault();
                                                if (sm != null)
                                                {
                                                    <td class="editable" data-idsm="@sm.setmarkId" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId">@sm.mark.mark</td>
                                                }
                                                else
                                                {
                                                    <td class="editable" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId"></td>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var dateLesson in Model.Lessons)
                                            {
                                                var sm = Model.setMarks.Where(x => x.studentId == student.studentId && x.lessonId == dateLesson.lessonId).FirstOrDefault();
                                                if (sm != null)
                                                {
                                                    <td data-idsm="@sm.setmarkId" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId">@sm.mark.mark</td>
                                                }
                                                else
                                                {
                                                    <td data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId"></td>
                                                }
                                            }
                                        }

                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        @if (student.studentLastname != null)
                                        {
                                            <th data-idStud="@student.studentId" class="sticky-cell">@student.studentSurname @student.studentName.Substring(0, 1).@student.studentLastname.Substring(0, 1).</th>
                                        }
                                        else
                                        {
                                            <th data-idStud="@student.studentId" class="sticky-cell">@student.studentSurname @student.studentName.Substring(0, 1).</th>
                                        }

                                        @if (User.IsInRole("teacher"))
                                        {
                                            @foreach (var dateLesson in Model.Lessons)
                                            {
                                                var sm = Model.setMarks.Where(x => x.studentId == student.studentId && x.lessonId == dateLesson.lessonId).FirstOrDefault();
                                                if (sm != null)
                                                {
                                                    <td class="editable" data-idsm="@sm.setmarkId" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId">@sm.mark.mark</td>
                                                }
                                                else
                                                {
                                                    <td class="editable" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId"></td>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var dateLesson in Model.Lessons)
                                            {
                                                var sm = Model.setMarks.Where(x => x.studentId == student.studentId && x.lessonId == dateLesson.lessonId).FirstOrDefault();
                                                if (sm != null)
                                                {
                                                    <td data-idsm="@sm.setmarkId" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId">@sm.mark.mark</td>
                                                }
                                                else
                                                {
                                                    <td data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId"></td>
                                                }
                                            }
                                        }

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div id="delLessModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Удалить занятие</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form asp-controller="Marks" asp-action="DeleteLesson" method="post" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        @foreach (var subject in Model.Subjects)
                                        {
                                            <input asp-for="deleteLesson.id" type="hidden" readonly value="@subject.subjectId" />
                                        }
                                        <input asp-for="deleteLesson.lessonId" id="idLess" type="hidden" value="" />
                                        <p id="delLabel">Удалить занятие </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                        <input type="submit" class="btn btn-primary" value="Удалить" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="row min-vh-100">
    <div class="jurnal__subjects col-lg-3">
        <div class="row h-100 d-flex flex-column p-3 align-items-center">
            <h2 class="notes__title mb-4">Мои предметы</h2>
            <dl class="list-group list-group-flush w-100 text-center">
                @foreach (var sub in Model.teacherSubjects)
                {
                    <dd class="list-group-item list-group-item-action cursor jurnal__link" data-subId="@sub.tsubjectId">@sub.subjectName (@sub.groupName)</dd>
                }
            </dl>
        </div>
    </div>
    <div class="jurnal__main main col-lg-9">
        <div class="row h-100 p-3 d-flex flex-column align-items-center">
            <div class="jurnal__block col-11">
                <div class="row d-flex flex-column p-3 pt-4">
                    <h3 class="p-0 text-center">
                        Журнал предмета:<br />
                        @foreach (var subject in Model.Subjects)
                        {
                            @subject.subjectName
                        }
                    </h3>
                    <div class="col-12 jurnal__text mt-4">
                        <div class="row d-flex flex-column pl-3">
                            @foreach (var group in Model.Groups)
                            {
                                <p class="text__group">Номер группы: @group.groupName</p>
                            }
                            @foreach (var teacher in Model.Teachers)
                            {
                                <p class="text__teacher">Преподаватель: @teacher.teacherSurname @teacher.teacherName @teacher.teacherLastname</p>
                            }
                        </div>
                    </div>
                    <div id="periodModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Показать за промежуток</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        @foreach (var subject in Model.Subjects)
                                        {
                                            <input asp-for="addLesson.id" type="hidden" readonly value="@subject.subjectId" />
                                        }
                                        <label for="firstDate">С:</label>
                                        <input type="datetime-local" id="firstDate" required />
                                        <label for="secondDate">По:</label>
                                        <input type="datetime-local" id="secondDate" required />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                        <input type="submit" class="btn btn-primary" value="Добавить" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 jurnal__buttons mt-4">
                        <div class="row pl-3 pr-3 align-items-center">
                            <div class="col">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="m-0" for="mounthSelection">Показать за:</label>
                                        <select class="custom-select" id="mounthSelection">
                                            <option>Январь</option>
                                            <option>Февраль</option>
                                            <option>Март</option>
                                            <option>Апрель</option>
                                            <option>Май</option>
                                            <option>Июнь</option>
                                            <option>Июль</option>
                                            <option>Сентябрь</option>
                                            <option>Октябрь</option>
                                            <option>Ноябрь</option>
                                            <option>Декабрь</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row pt-1">
                                    <input id="periodBtn" type="button" value="Показать за промежуток" class="btn btn-primary" />
                                </div>
                            </div>

                            @if (User.IsInRole("teacher"))
                            {
                                <div class="col">
                                    <div class="row pt-1">
                                        <input type="button" value="+ Добавить занятие" class="btn btn-primary" id="addLessModal" />
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row pt-1 d-flex justify-content-end">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Статистика
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Пропуски за месяц</a>
                                                <a class="dropdown-item" href="#">Балл за месяц</a>
                                                <a class="dropdown-item" href="#">Семестровая</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-12 jurnal__main">
                        @if (User.IsInRole("teacher"))
                        {
                            <div id="lessModal" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Добавить занятие</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form asp-controller="Marks" asp-action="AddLesson" method="post" enctype="multipart/form-data">
                                            <div class="modal-body">
                                                @foreach (var subject in Model.Subjects)
                                                {
                                                    <input asp-for="addLesson.id" type="hidden" readonly value="@subject.subjectId" />
                                                }
                                                <input asp-for="addLesson.lessonDate" type="datetime-local" required />
                                                <input asp-for="addLesson.lessonType" type="text" list="lessTypes" required />
                                                <datalist id="lessTypes">
                                                    @foreach (var type in Model.types)
                                                    {
                                                        <option value="@type.typeName"></option>
                                                    }
                                                </datalist>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                <input type="submit" class="btn btn-primary" value="Добавить" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="card">
                            <div class="card-body">
                                <div id="table" class="table-editable sticky-table sticky-ltr-cells">
                                    <table class="table _table table-bordered table-responsive-md table-hover text-center m-0 editableTable overflow-auto">
                                        <tr class="sticky-header">
                                            <th></th>
                                            @if (User.IsInRole("teacher"))
                                            {
                                                @foreach (var dateLesson in Model.Lessons)
                                                {
                                                    <th class="vt-text delLes" data-lessType="@dateLesson.lessonTypeId" data-idLess="@dateLesson.lessonId">@dateLesson.lessonDate.ToString("d")</th>
                                                }
                                            }
                                            else
                                            {
                                                @foreach (var dateLesson in Model.Lessons)
                                                {
                                                    <th class="vt-text" data-lessType="@dateLesson.lessonTypeId" data-idLess="@dateLesson.lessonId">@dateLesson.lessonDate.ToString("d")</th>
                                                }
                                            }
                                        </tr>
                                        <tbody>
                                            @foreach (var student in Model.Students)
                                            {
                                                @if (student.studentId == ViewBag.studentId)
                                                {
                                                    <tr class="currentStudent">
                                                        @if (student.studentLastname != null)
                                                        {
                                                            <th data-idStud="@student.studentId" class="sticky-cell">@student.studentSurname @student.studentName.Substring(0, 1).@student.studentLastname.Substring(0, 1).</th>
                                                        }
                                                        else
                                                        {
                                                            <th data-idStud="@student.studentId" class="sticky-cell">@student.studentSurname @student.studentName.Substring(0, 1).</th>
                                                        }

                                                        @if (User.IsInRole("teacher"))
                                                        {
                                                            @foreach (var dateLesson in Model.Lessons)
                                                            {
                                                                var sm = Model.setMarks.Where(x => x.studentId == student.studentId && x.lessonId == dateLesson.lessonId).FirstOrDefault();
                                                                if (sm != null)
                                                                {
                                                                    <td class="pt-3-half" contenteditable="true" data-idsm="@sm.setmarkId" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId">@sm.mark.mark</td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="pt-3-half" contenteditable="true" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId"></td>
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @foreach (var dateLesson in Model.Lessons)
                                                            {
                                                                var sm = Model.setMarks.Where(x => x.studentId == student.studentId && x.lessonId == dateLesson.lessonId).FirstOrDefault();
                                                                if (sm != null)
                                                                {
                                                                    <td data-idsm="@sm.setmarkId" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId">@sm.mark.mark</td>
                                                                }
                                                                else
                                                                {
                                                                    <td data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId"></td>
                                                                }
                                                            }
                                                        }

                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        @if (student.studentLastname != null)
                                                        {
                                                            <th data-idStud="@student.studentId" class="sticky-cell">@student.studentSurname @student.studentName.Substring(0, 1).@student.studentLastname.Substring(0, 1).</th>
                                                        }
                                                        else
                                                        {
                                                            <th data-idStud="@student.studentId" class="sticky-cell">@student.studentSurname @student.studentName.Substring(0, 1).</th>
                                                        }

                                                        @if (User.IsInRole("teacher"))
                                                        {
                                                            @foreach (var dateLesson in Model.Lessons)
                                                            {
                                                                var sm = Model.setMarks.Where(x => x.studentId == student.studentId && x.lessonId == dateLesson.lessonId).FirstOrDefault();
                                                                if (sm != null)
                                                                {
                                                                    <td class="pt-3-half" contenteditable="true" data-idsm="@sm.setmarkId" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId">@sm.mark.mark</td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="pt-3-half" contenteditable="true" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId"></td>
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @foreach (var dateLesson in Model.Lessons)
                                                            {
                                                                var sm = Model.setMarks.Where(x => x.studentId == student.studentId && x.lessonId == dateLesson.lessonId).FirstOrDefault();
                                                                if (sm != null)
                                                                {
                                                                    <td data-idsm="@sm.setmarkId" data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId">@sm.mark.mark</td>
                                                                }
                                                                else
                                                                {
                                                                    <td data-idLess="@dateLesson.lessonId" data-idStud="@student.studentId"></td>
                                                                }
                                                            }
                                                        }

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <div id="delLessModal" class="modal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Удалить занятие</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form asp-controller="Marks" asp-action="DeleteLesson" method="post" enctype="multipart/form-data">
                                                    <div class="modal-body">
                                                        @foreach (var subject in Model.Subjects)
                                                        {
                                                            <input asp-for="deleteLesson.id" type="hidden" readonly value="@subject.subjectId" />
                                                        }
                                                        <input asp-for="deleteLesson.lessonId" id="idLess" type="hidden" value="" />
                                                        <p id="delLabel">Удалить занятие </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                        <input type="submit" class="btn btn-primary" value="Удалить" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>