@using Microsoft.AspNetCore.Identity
@using EDiary.Models
@using EDiary.ViewModels
@model AspStudentGroupModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> userManager
<div class="row min-vh-100">
    <aside class="account__sidebar sidebar col-lg-3">
        <div class="row d-flex flex-column">
            <div class="sidebar__acc col-3 mw-100 p-2 justify-content-between">
                <div class="row">
                    <div class="acc__icons col-12 mb-2">
                        <div class="icons__dropdown">
                            <img id="icons__dots" src="/css/source/dots.png">
                            <div class="dropdown__content" id="dropdown">
                                <a class="openIconModal" href="#">Сменить фото</a>
                                <a class="openEmojiModal" href="#">Выбрать статус</a>
                                <a asp-controller="LogIn" asp-action="ChangePassword">Сменить пароль</a>
                                <a asp-controller="LogIn" asp-action="ChangeEmail">Сменить почту</a>
                            </div>
                        </div>
                    </div>
                    <div class="acc__photoplace col-12 mb-1 d-flex justify-content-center">
                        @foreach (var student in Model.student)
                        {
                            @if (student.studentPic != null)
                            {
                                <img class="acc__photo openIconModal" src="data:image/*;base64,@(Convert.ToBase64String(student.studentPic))" />
                            }
                            @if (student.studentPic == null)
                            {
                                <img class="acc__photo openIconModal" src="~/css/source/user-image.png" />
                            }
                        }
                    </div>
                    <div id="iconModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Выбрать фотографию</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form asp-action="AddPicture" asp-controller="Student" method="post" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <input class="form-control-file" name="Picture" type="file" accept="image/*" />
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
                                        <input class="btn btn-primary" type="submit" value="Добавить" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="acc__label col-12 mt-2 d-flex flex-column align-items-center align-content-center justify-content-center">
                        <div class="row">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @foreach (var student in Model.student)
                                {
                                    if (student.studentStatus != null)
                                    {
                                        <p class="m-0" data-idStud="@student.studentId">@student.studentSurname @student.studentName<sup class="acc__status cursor openEmojiModal" id="emojiStatus"><img src="data:image/*;base64,@(Convert.ToBase64String(student.studentStatus))"/></sup></p>
                                    }
                                    else
                                    {
                                         <p class="m-0" data-idStud="@student.studentId">@student.studentSurname @student.studentName<sup class="acc__status cursor openEmojiModal" id="emojiStatus"></sup></p>
                                    }
                                }
                            }
                        </div>
                    </div>
                     <div id="statusModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Выбрать статус</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form asp-action="AddStatus" method="post" enctype="multipart/form-data">
                                    <div class="modal-body d-flex flex-wrap">
                                        @foreach(var status in Model.statuses)
                                        {
                                            <div class="selection__item col-3 d-flex flex-column justify-content-start align-items-center text-center" data-idStatus="@status.statusId">
                                                <div class="item__circle rounded-circle d-flex align-content-center align-items-center justify-content-center">
                                                    <img src="data:image/*;base64,@(Convert.ToBase64String(status.emoji))"/>
                                                </div>
                                                <p>@status.status</p>
                                            </div>
                                        }
                                        <input id="statusId" name="statusId" type="hidden" value=""/>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
                                        <input class="btn btn-primary" type="submit" value="Выбрать" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__status border col-1 p-3 mw-100 d-flex align-items-center">
                <div class="row pr-2 pl-2 d-flex flex-column">
                    <p class="status__text mb-2">Дата и время:&nbsp;<time id="statusDate"></time></p>
                    <p class="status__text m-0">Текущий средний балл: <span>@ViewBag.averageMark</span></p> 
                </div>
            </div>
            <div class="sidebar__notes col-7 mw-100 overflow-auto">
                <div class="row d-flex justify-content-center">
                    <h2 class="notes__title mt-2 mb-3">Текущие задачи</h2>
                    <div class="notes__block col-11">
                        <div class="row">
                            @foreach (var tasks in Model.tasks)
                            {
                            <div class="notes__note col-12 mb-4">
                                <div class="row p-3">
                                    <div class="col-2 pt-1 pb-1 pl-1 pr-2">
                                        <div class="row">
                                            <img class="col-12" src="~/css/source/todoIcon.png"/>
                                        </div>
                                    </div>
                                    <div class="note__texts col-9">
                                        <div class="row">
                                            <p class="note__title m-0">@tasks.subjectName</p>
                                            <p class="note__text m-0">Сдано: <span>@tasks.zachCount</span> из <span>@tasks.labaCount</span> лаб. работ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="account__main main col-lg-6">
        <div class="row h-100 p-3">
            <div class="main__subjects col-12">
                <div class="row h-100">
                    <div class="subjects__side col-1 border-right">
                        <div class="row">
                            <a class="subject__find col-12 p-1 d-flex justify-content-center align-items-center text-center border-bottom">Все</a>
                            <a class="subject__find col-12 p-1 d-flex justify-content-center align-items-center text-center border-bottom">Лекции</a>
                            <a class="subject__find col-12 p-1 d-flex justify-content-center align-items-center text-center border-bottom">Лаб. работы</a>
                        </div>
                    </div>
                    <div class="subjects__block col-11">
                        <div class="row p-3 d-flex flex-column">
                            <h2 class="block__tile mb-3 text-center">Мои предметы:</h2>
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" placeholder="Введите название предмета или номер группы">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">Поиск</button>
                                </div>
                            </div>
                            @foreach (var subject in Model.subjects)
                            {
                                <div class="block__item col-12 mb-4">
                                    <div class="row p-2">
                                        <div class="item__circle rounded-circle mr-3 d-flex align-content-center align-items-center justify-content-center">
                                            <img src="data:image/*;base64,@(Convert.ToBase64String(subject.subIcon))" />
                                        </div>
                                        @if (subject.labaId == 0)
                                        {
                                            <a class="item__title col-9 d-flex p-0 m-0 align-items-center" data-id="@subject.tsubjectId">@subject.subjectName</a>
                                        }
                                        else
                                        {
                                            <a class="item__title col-9 d-flex p-0 m-0 align-items-center" data-labaid="@subject.labaId">@subject.subjectName</a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="account__group col-lg-3">
        <div class="row h-100 d-flex flex-column">

        </div> 
    </aside>
</div>