@using Microsoft.AspNetCore.Identity
@using EDiary.Models
@using EDiary.ViewModels
@model IEnumerable<Student>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> userManager
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 accountF h-100 p-3">
            <div class="row h-100 align-content-center w-100 flex-row-reverse justify-content-center">
                <div class="col-lg-8 col-md-8 col-12 w-100 offset-1">
                    <div class="row">
                        <div class="col-lg-3 col-5 flex-column justify-content-around">
                            <div class="accountIcon">
                                @foreach (var student in Model)
                                {
                                    @if (student.studentPic != null)
                                    {
                                        <img class="accountIcon" src="data:image/jpeg;base64,@(Convert.ToBase64String(student.studentPic))" />
                                    }
                                    @if(student.studentPic == null)
                                    {
                                        <img src="~/css/source/user-image.png" class="accountIcon" />
                                    }
                                }
                            </div>
                            <form asp-action="AddPicture" asp-controller="Student" method="post" enctype="multipart/form-data">
                                <p>
                                    <input name="Picture" type="file" class="form-control" />
                                </p>
                                <p>
                                    <input type="submit" value="Добавить" />
                                </p>
                            </form>
                        </div>
                        <div class="col-lg-6 col-4 ml-lg-0 ml-3 justify-content-between">
                            <div class="row ml-1">
                                <small class="text-secondary mb-0" style="text-decoration: underline">Ф.И.О. пользователя:</small>
                            </div>
                            <div class="row ml-1">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    @foreach (var studentName in Model)
                                    {
                                        <label class="mt-0" style="font-size: 115%">@studentName.studentSurname @studentName.studentName @studentName.studentLastname</label>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 accountF h-100 p-3 h100-2">
            <div class="row h-100 align-content-center w-100 flex-column-reverse justify-content-center">
                <div class="col-lg-8 col-md-8 col-12 w-100 offset-1">
                    <div class="row flex-column">
                        @*<a asp-controller="LogIn" asp-action="ChangePassword">Сменить пароль</a>*@
                        <h4>Мои предметы:</h4>
                        @*<ol class="list-group list-group-flush list-group-numbered">
                @foreach (var subject in Model)
                 {
                    <li class="list-group-item" data-id="@subject.subjectId"><a href="">@subject.subjectName</a></li>
                 }
        </ol>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>